lab02/TopDownSimpleService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://topdown.soacourse.unsw.edu.au" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TopDownSimpleService" targetNamespace="http://topdown.soacourse.unsw.edu.au">
  <wsdl:types>
    <xsd:schema targetNamespace="http://topdown.soacourse.unsw.edu.au">
       <xsd:element name="importMarketDataRequest">
      	<xsd:complexType>
          <xsd:sequence>
            <xsd:element name="sec" nillable="false" type="xsd:string"/>
            <xsd:element name="startDate" nillable="false" type="xsd:string"/>
            <xsd:element name="endDate" nillable="false" type="xsd:string"/>
            <xsd:element name="dataSource" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="importMarketDataResponse">
        <xsd:complexType>
           <xsd:sequence>
               <xsd:element name="returnData" nillable="false" type="xsd:string"/>
           </xsd:sequence>
        </xsd:complexType>
       </xsd:element>
       <xsd:element name="downloadFileRequest">
        <xsd:complexType>
         <xsd:sequence>
             <xsd:element name="eventSetID" nillable="false" type="xsd:string"/>
         </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="downloadFileResponse">
        <xsd:complexType>
         <xsd:sequence>
             <xsd:element name="returnData" nillable="true" type="xsd:string"/>
         </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="importMarketDataRequestMsg">
    <wsdl:part name="parameters" element="tns:importMarketDataRequest" />
  </wsdl:message>
  <wsdl:message name="importMarketDataResponseMsg">
    <wsdl:part name="parameters" element="tns:importMarketDataResponse" />
  </wsdl:message>
  <wsdl:message name="downloadFileRequestMsg">
    <wsdl:part name="parameters" element="tns:downloadFileRequest" />
  </wsdl:message>
  <wsdl:message name="downloadFileResponseMsg">
    <wsdl:part name="parameters" element="tns:downloadFileResponse" />
  </wsdl:message>
  <wsdl:portType name="TopDownSimpleService">
    <wsdl:operation name="importMarketData">
      <wsdl:input message="tns:importMarketDataRequestMsg"/>
      <wsdl:output message="tns:importMarketDataResponseMsg"/>
    </wsdl:operation>
    <wsdl:operation name="downloadFile">
      <wsdl:input message="tns:downloadFileRequestMsg"/>
      <wsdl:output message="tns:downloadFileResponseMsg"/>
    </wsdl:operation>    
  </wsdl:portType>
  <wsdl:binding name="TopDownSimpleServiceSOAP" type="tns:TopDownSimpleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="importMarketData">
      <soap:operation soapAction="http://topdown.soacourse.unsw.edu.au/importMarketData"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="downloadFile">
      <soap:operation soapAction="http://topdown.soacourse.unsw.edu.au/downloadFile"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation> 
  </wsdl:binding>
  <wsdl:service name="TopDownSimpleService">
    <wsdl:port binding="tns:TopDownSimpleServiceSOAP" name="TopDownSimpleServiceSOAP">
      <soap:address location="http://localhost:8080/SimpleServiceOne/TopDownSimpleService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
